* {
	font-family: 'Montserrat', sans-serif;
}

table thead tr,
table tbody tr,
#stock-market-control:nth-child(2),
.sm-btn-control {
	font-size: 13px;
}

#buy, #sell {
	max-height: 800px;
	overflow-y: auto;
}

#stock-market {
	max-height: 892px;
	overflow-y: auto;
}

#market-trades {
	max-height: 400px;
	overflow-y: auto;
}